<% @page_title = 'Réal-Culturel'%>
  <section>
    <h1></h1>
    <article>
      <div>
        <%= image_tag 'Salle_des_fêtes_à_Surbourg_(67).jpg'%>
      </div>
      <div>
        <h2>Salle des fêtes à Surbourg (67)</h2>
        <hr>
        <div>
          <div>
            <p> Maître d’ouvrage :</p>
          </div>
          <div>
            <p>
              <b>Commune de Surbourg</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Programme :</p>
          </div>
          <div>
            <p>
              <b>Construction RT2012  </b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Architecte :</p>
          </div>
          <div>
            <p>
              <b>Le Forum de l'Architecture Marc Klipfel</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Mission EFT2E :</p>
          </div>
          <div>
            <p>
              <b>MOP Base + EXE</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Lot EFT2E :</p>
          </div>
          <div>
            <p>
              <b>Chauffage – ventilation – sanitaire – assainissement</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Coût des travaux :</p>
          </div>
          <div>
            <p>
              <b>1 000 000 €HT</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Phase : </p>
          </div>
          <div>
            <p>
              <b>ACT en cours </b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Particularités :</p>
          </div>
          <div>
            <p>
              <b>Objectif RT2012</b>
            </p>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div>
        <%= image_tag 'La_NEF_de_Saint-Dié_des_Vosges_(88).jpg'%>
      </div>
      <div>
        <h2>La NEF de Saint-Dié des Vosges (88) </h2>
        <p>Projet réalisé par Julien EDEL avec le casque CEREC Ingénierie</p>
        <hr>
        <div>
          <div>
            <p> Maître d’ouvrage :</p>
          </div>
          <div>
            <p>
              <b>Ville de Saint-Dié des Vosges</b>
            </p>
            <p>
              <b>EPFL</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Programme :</p>
          </div>
          <div>
            <p>
              <b>Transformation d'usage</b>
            </p>
            <p>
              <b>Rénovation RT2005</b>
            </p>
            <p>
              <b>Extension RT2005</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Architecte :</p>
          </div>
          <div>
            <p>
              <b>Agence DWPA Architectes</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Mission CEREC :</p>
          </div>
          <div>
            <p>
              <b>MOP Base + DIAG + EXE</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Lot CEREC :</p>
          </div>
          <div>
            <p>
              <b>Chauffage – ventilation – rafraîchissement – sanitaire – assainissement – électricité</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Coût des travaux :</p>
          </div>
          <div>
            <p>
              <b>4 100 000 €HT</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Phase : </p>
          </div>
          <div>
            <p>
              <b>Réceptionné en août 2013</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Particularités :</p>
          </div>
          <div>
            <p>
              <b>Objectif RT2005</b>
            </p>
            <p>
              <b>Salles de musique et Auditorium</b>
            </p>
          </div>
        </div>
      </div>
    </article>
  </section>
