<% @page_title = 'Réal-Enseignement'%>
  <section>
    <h1>Etablissement scolaire - Réalisation du bureau d'études EFT2E Ingénierie implanté
      à Strasbourg et environs :</h1>
    <article>
      <div>
        <%= image_tag 'Groupe_scolaire_de_Mutterscholtz_(67).jpg'%>
      </div>
      <div>
        <h2>Groupe scolaire de Mutterscholtz (67)</h2>
        <hr>
        <div>
          <div>
            <p> Maître d’ouvrage :</p>
          </div>
          <div>
            <p>
              <b> Commune de Mutterscholtz </b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Programme :</p>
          </div>
          <div>
            <p>
              <b>Rénovation BBC et BBC EFFINERGIE</b>
            </p>
            <p>
              <b>convention nationale TEPCV (Territoire à Energie Positive) </b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Architecte :</p>
          </div>
          <div>
            <p>
              <b>NC</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Mission EFT2E :</p>
          </div>
          <div>
            <p>
              <b>Assistant à Maîtrise d'Ouvrage</b>
            </p>
            <p>
              <b>Etude thermique BBC</b>
            </p>
            <p>
              <b>Dossier de demande de subventions Région Alsace et ADEME</b>
            </p>
            <p>
              <b>Test d'étanchéité à l'air préalable</b>
            </p>
            <p>
              <b>Etude Hygro-Thermique Dynamique</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Lot EFT2E :</p>
          </div>
          <div>
            <p>
              <b> TCE + étanchéité à l'air</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Coût des travaux :</p>
          </div>
          <div>
            <p>
              <b>NC</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Phase : </p>
          </div>
          <div>
            <p>
              <b>APD en cours</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Particularités :</p>
          </div>
          <div>
            <p>
              <b>Objectif BBC rénovation et BBC EFFINERGIE </b>
            </p>
            <p>
              <b>convention nationale TEPCV</b>
            </p>
            <p>
              <b>2 écoles - surface 1400 m²</b>
            </p>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div>
        <%= image_tag 'Ecole_maternelle_Léo_Délibes_à_Schiltigheim_(67).jpg'%>
      </div>
      <div>
        <h2>Ecole maternelle Léo Délibes à Schiltigheim (67)</h2>
        <p>Projet réalisé par Julien EDEL avec le casque CEREC Ingénierie</p>
        <hr>
        <div>
          <div>
            <p> Maître d’ouvrage :</p>
          </div>
          <div>
            <p>
              <b>Ville de Schiltigheim</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Programme :</p>
          </div>
          <div>
            <p>
              <b>Démolition bâtiment B et re-construction BBC</b>
            </p>
            <p>
              <b>Rénovation RT2005 des bâtiments A et C </b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Architecte :</p>
          </div>
          <div>
            <p>
              <b>Agence Larché et Metzger</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Mission CEREC :</p>
          </div>
          <div>
            <p>
              <b>MOP Base + DIAG + EXE</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Lot CEREC :</p>
          </div>
          <div>
            <p>
              <b>Chauffage – ventilation – Rafraîchissement – climatisation –
                sanitaire – assainissement – électricité</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Coût des travaux :</p>
          </div>
          <div>
            <p>
              <b>2 330 000 €HT</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Phase : </p>
          </div>
          <div>
            <p>
              <b>Réceptionné en 2013 et 2014</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Particularités :</p>
          </div>
          <div>
            <p>
              <b>Objectif RT2005 pour les bâtiments rénovés</b>
            </p>
            <p>
              <b>Objectif BBC pour le bâtiment neuf</b>
            </p>
            <p>
              <b>Surface 2460 m²</b>
            </p>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div>
        <%= image_tag 'Ecole_maternelle_de_Huttenheim_(67).jpg'%>
      </div>
      <div>
        <h2>Ecole maternelle de Huttenheim (67)</h2>
        <p>Projet réalisé par Julien EDEL avec le casque CEREC Ingénierie</p>
        <hr>
        <div>
          <div>
            <p> Maître d’ouvrage :</p>
          </div>
          <div>
            <p>
              <b>Commune de Huttenheim</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Programme :</p>
          </div>
          <div>
            <p>
              <b>Rénovation BBC</b>
            </p>
            <p>
              <b>Extension BBC</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Architecte :</p>
          </div>
          <div>
            <p>
              <b>Agence Larché et Metzger</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Mission CEREC :</p>
          </div>
          <div>
            <p>
              <b>MOP Base + DIAG + EXE</b>
            </p>
            <p>
              <b>Etude thermique BBC rénovation</b>
            </p>
            <p>
              <b>Dossier de demande de subventions Région Alsace et ADEME</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Lot CEREC :</p>
          </div>
          <div>
            <p>
              <b>Chauffage – ventilation – Rafraîchissement – sanitaire – assainissement – électricité</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Coût des travaux :</p>
          </div>
          <div>
            <p>
              <b>1 520 000 €HT</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Phase : </p>
          </div>
          <div>
            <p>
              <b> Réceptionné en août 2013</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Particularités :</p>
          </div>
          <div>
            <p>
              <b>Objectif BBC bâtiment rénové et extension  </b>
            </p>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div>
        <%= image_tag 'Ecole_maternelle_de_Stotzheim_(67).jpg'%>
      </div>
      <div>
        <h2>Ecole maternelle de Stotzheim (67)</h2>
        <p>Projet réalisé par Julien EDEL avec le casque CEREC Ingénierie</p>
        <hr>
        <div>
          <div>
            <p> Maître d’ouvrage :</p>
          </div>
          <div>
            <p>
              <b>Commune de Stotzheim</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Programme :</p>
          </div>
          <div>
            <p>
              <b>Rénovation RT2005</b>
            </p>
            <p>
              <b>Extension RT2005 </b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Architecte :</p>
          </div>
          <div>
            <p>
              <b>Agence Larché et Metzger</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Mission CEREC :</p>
          </div>
          <div>
            <p>
              <b>MOP Base + DIAG + EXE </b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Lot CEREC :</p>
          </div>
          <div>
            <p>
              <b>Chauffage – ventilation – sanitaire – assainissement – électricité</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Coût des travaux :</p>
          </div>
          <div>
            <p>
              <b>1 150 000 €HT</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Phase : </p>
          </div>
          <div>
            <p>
              <b> Réceptionné en août 2013</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Particularités :</p>
          </div>
          <div>
            <p>
              <b>Objectif RT2005 bâtiment rénové et extension</b>
            </p>
            <p>
              <b>Chaufferie bois centralisée desservant les bâtiments communaux</b>
            </p>
          </div>
        </div>
      </div>
    </article>
  </section>