<% @page_title = 'Accueil'%>
  <div class="banner-carousel" id="banner-carousel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur laborum omnis quos tempora tenetur.
      Accusantium autem enim expedita iure sunt? Aliquam architecto aspernatur cumque deleniti illo incidunt, minus
      officiis sapiente?</p>
    <p>Ad blanditiis consectetur incidunt neque nobis non perferendis, quas sed. Architecto ipsam magnam quae? Accusamus
      autem, debitis delectus doloribus ducimus eius expedita magnam necessitatibus quibusdam quisquam sed similique, ut
      voluptatibus!</p>
    <p>Adipisci commodi dolores, excepturi, explicabo in iure obcaecati perspiciatis porro quae quibusdam quo sed sit,
      tenetur veritatis voluptas. Aspernatur assumenda cupiditate et libero obcaecati porro quaerat quisquam ratione
      sint tempora?</p>
    <p>Dolore doloribus laudantium nesciunt quasi veniam? Accusamus cupiditate maxime obcaecati odit officiis quis
      repudiandae temporibus. A debitis, deleniti ducimus natus perspiciatis quibusdam ratione repellendus rerum sequi
      voluptates. Autem blanditiis, deleniti?</p>
    <p>Accusantium amet consequatur cum doloribus dolorum earum eum fuga ipsa, molestiae mollitia necessitatibus
      nesciunt odio officia possimus quasi reiciendis repellendus repudiandae sequi soluta suscipit totam ullam vel
      veritatis vero voluptatum.</p>
    <p>Ad commodi earum eos est impedit iste iure maxime molestias, nihil odio perspiciatis quos repellendus sapiente
      sit sunt, tempora voluptatem! Consequuntur dolor ex, illum labore laboriosam reiciendis repudiandae veritatis
      voluptates?</p>
    <p>Accusamus animi doloribus ducimus eligendi error ex exercitationem explicabo hic id magnam molestiae obcaecati,
      odit quo quos repellat. Dolor in ipsum, magni odio rerum vel! Doloribus dolorum illo officia quis.</p>
    <p>Ab accusamus aliquid at consequuntur cum cupiditate delectus dolorem ex expedita fugit illo inventore magnam
      mollitia nemo officia, perspiciatis quibusdam quos ratione reiciendis sapiente sed, sint suscipit tempore, ut
      vero.</p>
    <p>Itaque necessitatibus nostrum temporibus voluptates? Accusantium dicta dignissimos dolores eligendi obcaecati,
      praesentium sapiente veniam voluptates voluptatum. Architecto aspernatur blanditiis delectus hic illum in natus
      quod tempore ullam! Animi, deserunt, minus?</p>
    <p>A architecto consequatur culpa, delectus distinctio doloremque dolores doloribus dolorum eos, ex excepturi fuga
      ipsam iste magni nihil obcaecati officia officiis qui quia recusandae repellat repudiandae sit, temporibus unde
      vero?</p>
  </div><!--/banner-carousel-->
  <section>
    <h1>EFT2E Ingénierie « Etudes Fluides Thermiques Energies & Environnement »</h1>
    <article>
      <p>est un bureau d'études spécialisé dans la réalisation des études de conception et d'exécution
        de fluides techniques et thermiques du bâtiment, qui s'implique dès la phase conceptuelle d'un
        projet en ciblant ses enjeux énergétiques et environnementaux.</p>

      <p>Le bureau d'études intervient pour des missions complètes ou ponctuelles dans le rôle de Maître d'Oeuvre,
        d'Assistant technique à Maîtrise d'Ouvrage ou d'Acteur environnemental HQE dans le cadre de projets de
        construction et de rénovation de bâtiments d'habitation, tertiaires, scolaires, sportifs, sociaux, culturels,
        industriels et de santé, en marché public et privé, visant un objectif RT2012, BBC+ ou autres.</p>

      <p>Téléchargez notre <a href="" class="plaquette">plaquette</a></p>
    </article>
  </section>
