<% @page_title = 'Réal-Industriel'%>
  <section>
    <h1>Bâtiment industriel - Réalisation du bureau d'études EFT2E Ingénierie
      implanté à Strasbourg et environs :</h1>
    <article>
      <div>
        <%= image_tag 'Supermarché_Match_à_Kilstett_(67).jpg'%>
      </div>
      <div>
        <h2>Supermarché Match à Kilstett (67)</h2>
        <hr>
        <div>
          <div>
            <p> Maître d’ouvrage :</p>
          </div>
          <div>
            <p>
              <b>Match</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Programme :</p>
          </div>
          <div>
            <p>
              <b>Construction RT2005</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Architecte :</p>
          </div>
          <div>
            <p>
              <b>Arc.Tech Architecture</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Mission EFT2E :</p>
          </div>
          <div>
            <p>
              <b>Assistance technique aux entreprises</b>
            </p>
            <p>
              <b>Etablissement de plans DAO tous fluides techniques</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Lot EFT2E :</p>
          </div>
          <div>
            <p>
              <b>Chauffage – ventilation – sanitaire – assainissement – électricité</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Coût des travaux :</p>
          </div>
          <div>
            <p>
              <b>NC</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Phase : </p>
          </div>
          <div>
            <p>
              <b>Réceptionné en octobre 2014</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Particularités :</p>
          </div>
          <div>
            <p>
              <b>Objectif RT2005</b>
            </p>
            <p>
              <b>Surface 2245 m²</b>
            </p>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div>
        <%= image_tag 'Hall_de_stockage_à_Uberach_(67).jpg'%>
      </div>
      <div>
        <h2>Hall de stockage à Uberach (67)</h2>
        <hr>
        <div>
          <div>
            <p> Maître d’ouvrage :</p>
          </div>
          <div>
            <p>
              <b>Lemaitre Sécurité</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Programme :</p>
          </div>
          <div>
            <p>
              <b>Construction RT2012</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Architecte :</p>
          </div>
          <div>
            <p>
              <b>gence Heckel - Kimmel Architectes </b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Mission EFT2E :</p>
          </div>
          <div>
            <p>
              <b>MOE base + EXE</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Lot EFT2E :</p>
          </div>
          <div>
            <p>
              <b>Chauffage – ventilation – sanitaire – assainissement – électricité</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Coût des travaux :</p>
          </div>
          <div>
            <p>
              <b>NC</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Phase : </p>
          </div>
          <div>
            <p>
              <b>APD 2 en cours</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Particularités :</p>
          </div>
          <div>
            <p>
              <b>Objectif RT2012</b>
            </p>
            <p>
              <b>Surface hall 2500 m²</b>
            </p>
            <p>
              <b>Surface locaux sociaux 119 m²</b>
            </p>
          </div>
        </div>
      </div>
    </article>
  </section>