<% @page_title = 'Dans la presse'%>
  <h1>EFT2E Ingénierie dans la presse</h1>
  <h2>Maison de la petite enfance de la Robertsau à Strasbourg (67)</h2>
  <p>Un projet réalisé par Julien EDEL avec le casque CEREC Ingénierie et les Architectes Bruno
    Mosser et Emine Bulut (Atelier Architecture et Soleil) et Fabien Brion (Quartier libre).</p>
  <%= image_tag 'journal_27_juin_2014.jpg'%>