<% @page_title = 'Réal-santé'%>
  <section>
    <h1>Etablissement de santé - Réalisation du bureau d'études EFT2E
      Ingénierie implanté à Strasbourg et environs :</h1>
    <article>
      <div>
        <%= image_tag 'Maison_de_santé_(SISA)_à_Woerth_(67).png'%>
      </div>
      <div>
        <h2>Maison de santé (SISA) à Woerth (67)</h2>
        <hr>
        <div>
          <div>
            <p> Maître d’ouvrage :</p>
          </div>
          <div>
            <p>
              <b>Privé</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Programme :</p>
          </div>
          <div>
            <p>
              <b>Extension RT2012</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Architecte :</p>
          </div>
          <div>
            <p>
              <b>Agence Chalumeau Hugues Architecte</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Mission EFT2E :</p>
          </div>
          <div>
            <p>
              <b>MOE Base + DIAG + EXE</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Lot EFT2E :</p>
          </div>
          <div>
            <p>
              <b>Chauffage – ventilation – sanitaire – assainissement – électricité</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Coût des travaux :</p>
          </div>
          <div>
            <p>
              <b>380 000 €HT</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Phase : </p>
          </div>
          <div>
            <p>
              <b>APD en cours</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Particularités :</p>
          </div>
          <div>
            <p>
              <b>Objectif RT2012</b>
            </p>
            <p>
              <b>Extension projetée en surélévation 220 m²</b>
            </p>
          </div>
        </div>
      </div>
    </article>
  </section>