<% @page_title = 'Réal-sportif'%>
  <section>
    <h1>Etablissement sportif - Réalisation du bureau d'études EFT2E Ingénierie
      implanté à Strasbourg et environs :</h1>
    <article>
      <div>
        <%= image_tag 'Club_house_et_vestiaires_à_Uhrwiller_(67).png'%>
      </div>
      <div>
        <h2>Club house et vestiaires à Uhrwiller (67)</h2>
        <hr>
        <div>
          <div>
            <p> Maître d’ouvrage :</p>
          </div>
          <div>
            <p>
              <b>Commune de Uhrwiller</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Programme :</p>
          </div>
          <div>
            <p>
              <b>Démolition bâtiment existant et re-construction RT2012</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Architecte :</p>
          </div>
          <div>
            <p>
              <b>Cabinet d'Architecture Keller</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Mission EFT2E :</p>
          </div>
          <div>
            <p>
              <b>MOP Base + DIAG + EXE</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Lot EFT2E :</p>
          </div>
          <div>
            <p>
              <b>Chauffage – ventilation – sanitaire – assainissement – électricité</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Coût des travaux :</p>
          </div>
          <div>
            <p>
              <b>300 000 €HT</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Phase : </p>
          </div>
          <div>
            <p>
              <b>APD en cours</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Particularités :</p>
          </div>
          <div>
            <p>
              <b>Objectif RT2012</b>
            </p>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div>
        <%= image_tag 'Gymnase_Centre_Sportif_Ouest_(CSO)_de_Koenigshoffen_à_Strasbourg_(67).jpg'%>
      </div>
      <div>
        <h2>Gymnase Centre Sportif Ouest (CSO) de Koenigshoffen à Strasbourg (67)</h2>
        <p>Projet réalisé par Julien EDEL avec le casque CEREC Ingénierie</p>
        <hr>
        <div>
          <div>
            <p> Maître d’ouvrage :</p>
          </div>
          <div>
            <p>
              <b>Ville de Strasbourg</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Programme :</p>
          </div>
          <div>
            <p>
              <b>Rénovation RT2005</b>
            </p>
            <p>
              <b>Extension RT2005 </b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Architecte :</p>
          </div>
          <div>
            <p>
              <b>Agence Antonelli et Herry</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Mission ECEREC :</p>
          </div>
          <div>
            <p>
              <b>MOP Base + DIAG + EXE</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Lot CEREC :</p>
          </div>
          <div>
            <p>
              <b>Chauffage – ventilation – rafraîchissement – sanitaire – assainissement – électricité</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Coût des travaux :</p>
          </div>
          <div>
            <p>
              <b>3 000 000 €HT</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Phase : </p>
          </div>
          <div>
            <p>
              <b>Réceptionné en septembre 2013</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Particularités :</p>
          </div>
          <div>
            <p>
              <b>Objectif RT2005</b>
            </p>
            <p>
              <b> Amélioration énergétique du bâtiment existant</b>
            </p>
            <p>
              <b>Intervention sur chaufferie centralisée desservant 4 bâtiments</b>
            </p>
            <p>
              <b>Adaptation et maintien chauffage et ECS</b>
            </p>
            <p>
              <b>Hall de sport chauffé par air avec natural cooling estival</b>
            </p>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div>
        <%= image_tag 'Club_house_et_vestiaires_de_la_Montagne_Verte_à_Strasbourg_(67).jpg'%>
      </div>
      <div>
        <h2>Club house et vestiaires de la Montagne Verte à Strasbourg (67)</h2>
        <p>Projet réalisé par Julien EDEL avec le casque CEREC Ingénierie</p>
        <hr>
        <div>
          <div>
            <p> Maître d’ouvrage :</p>
          </div>
          <div>
            <p>
              <b>Ville de Strasbourg</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Programme :</p>
          </div>
          <div>
            <p>
              <b>Démolition bâtiment existant et re-construction RT2005</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Architecte :</p>
          </div>
          <div>
            <p>
              <b>Agence Antonelli et Herry</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Mission CEREC:</p>
          </div>
          <div>
            <p>
              <b>MOP Base + DIAG + EXE  </b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Lot CEREC :</p>
          </div>
          <div>
            <p>
              <b>Chauffage – ventilation – sanitaire – assainissement – électricité</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Coût des travaux :</p>
          </div>
          <div>
            <p>
              <b>861 000 €HT</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Phase : </p>
          </div>
          <div>
            <p>
              <b>Réceptionné en mai 2013</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Particularités :</p>
          </div>
          <div>
            <p>
              <b> Objectif RT2005</b>
            </p>
          </div>
        </div>
      </div>
    </article>
  </section>