<% @page_title = 'Réal-tertiaire'%>
  <section>
    <h1>Bâtiment tertiaire - Réalisation du bureau d'études EFT2E Ingénierie
      implanté à Strasbourg et environs :</h1>
    <article>
      <div>
        <%= image_tag 'Atelier_communal_à_Mittelhausbergen_(67).jpg'%>
      </div>
      <div>
        <h2>Atelier communal à Mittelhausbergen (67)</h2>
        <hr>
        <div>
          <div>
            <p> Maître d’ouvrage :</p>
          </div>
          <div>
            <p>
              <b>Commune de Mittelhausbergen</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Programme :</p>
          </div>
          <div>
            <p>
              <b>Construction RT2012</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Architecte :</p>
          </div>
          <div>
            <p>
              <b>Agence Marc Thomas Architecte</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Mission EFT2E :</p>
          </div>
          <div>
            <p>
              <b>MOP Base + EXE</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Lot EFT2E :</p>
          </div>
          <div>
            <p>
              <b>Chauffage – ventilation – sanitaire – assainissement – électricité</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Coût des travaux :</p>
          </div>
          <div>
            <p>
              <b>550 000 €HT</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Phase : </p>
          </div>
          <div>
            <p>
              <b>ACT en cours</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Particularités :</p>
          </div>
          <div>
            <p>
              <b>Objectif RT2012</b>
            </p>
          </div>
        </div>
      </div>
    </article>
  </section>