.banner {
  padding-top: 30px;
}

.page-title-large {
  display: none;
}

.header-title {
  text-align: center;
  line-height: 48px;
  font-size:22px;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .header-title {
    display: none;
  }

  .page-title-large {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: $green;
    h2 {
      font-size:35px;
    }
    h1 {
      font-size: 45px;
    }
  }
}