<footer>
  <div class="content">
    <div class="footer">
      <div class="footer-about-us">
      </div><!--/footer-about-us--->
      <div class="footer-social-bar">

      </div><!--/footer-social-bar-->
      <div class="footer-info">

      </div><!--/footer-info-->
    </div><!--/footer-->
  </div>
</footer>